<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects | UWRF Dev Team</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/global-style.css' %}">
    <link rel="stylesheet" href="{% static 'style/projects-style.css' %}">
</head>
<body>
<nav id="nav-bar">
    <div id="short-nav-bar">
        <a href="/" class="link-no-style">
            <div class="nav-item">
                <h5 class="nav-text">Home</h5>
            </div>
        </a>
        <div class="nav-item">
            <h5 class="nav-text">About Us</h5>
        </div>
        <a href="/projects/" class="link-no-style">
            <div class="nav-item">
                <h5 class="nav-text">Projects</h5>
            </div>
        </a>
        <div class="nav-item">
            <h5 class="nav-text">Join!</h5>
        </div>
    </div>
</nav>
<main>
<section id="title-section">
    <div id="title-div">
        <h1 id="title-text">Projects</h1>
    </div>
</section>
</main>
<footer id="footer">
    <div id="footer-text-container">
        <div class="footer-text-div">
            <h5>
                2024 UWRF Development Team
            </h5>
        </div>
        <div class="footer-text-div" id="footer-motto-div">
            <h5>
                Do more, Do it together, Dev Team
            </h5>
        </div>
    </div>
</footer>
</body>
</html>